<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login - Default</title>
</head>
<body>

<h1>Login</h1>
<p>Please sign-in (default @ hydra core - this should be overridden)</p>

<form action="/login" method="post">

    <div class="form-group">
        <label class="form-label" for="username">Username</label>
        <div class="input-group">
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" autocomplete="off" />
        </div>
    </div>

    <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <div class="input-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" autocomplete="off" />
        </div>
    </div>

    <div class="form-group">
        <a href="#">Forgot password?</a>
        <br/>
        <a href="#">Register</a>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Log In</button>
    </div>
</form>

</body>
</html>